  <div class="row">
	  
    <form class="col s12">
      <div class="row">
        <div class="col s6 offset-s3">
			<h3>
				Create task
			</h3>
			<div class="input-field">
			  <input id="title" type="text" class="validate" [(ngModel)]="task.title" name="title">
			  <label for="title">Task title</label>
			</div>
			<div class="input-field chips" #chips>
				<input class="input-chips" name="chips[]">
			</div>
			
			<div class="input-field">
				 <input type="text" class="datepicker" #datepicker name="date">
			</div>
			
			<div class="input-field">
			  <input id="description" type="text" class="validate" [(ngModel)]="task.description" name="description">
			  <label for="description">Description</label>
			  <span class="helper-text">{{ task.description.length }}/2046</span>
			</div>
			<button type="button" class="btn" (click)="onPublish()">
				Publish
			</button>
		</div>
	  </div>
    </form>
  </div>